[submodule "test/projects/spring-petclinic"]
	path = test/projects/spring-petclinic
	url = ssh://git@github.com/DependencyCodeEditorLand/SpringPetClinic.git
	ignore = all
[submodule "test/projects/gs-rest-service"]
	path = test/projects/gs-rest-service
	url = ssh://git@github.com/DependencyCodeEditorLand/GSRestService.git
	ignore = all
